# PyCharm-specific files
.idea/

# Python cache files
__pycache__/

# Virtual environments
venv/
venv10/
.venv10

# Python bytecode
*.py[cod]

# Logs
*.log

# Local configuration files
*.env

# Temporary files
*.tmp

# OS-specific files
.DS_Store

# Unit test / coverage reports
htmlcov/
.coverage

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyCharm Debug
.idea/workspace.xml

# Environments
.env
.venv
env/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# Pyre type checker
.pyre/